.centralizarNomes{
    padding-left: 40% !important;
}

.buttonEntrar{
    width: 300px;
    background-color: #12E58D !important;
    border-color: #12E58D !important;
}

.inputsTexto{
    width: 300px;
    height: 100px;
    border-color: #12E58D !important;
}

.bottomLine{
    position: fixed;
    bottom: 0;
}

.meuIc{
    margin-top: 40%;
    font-size: 35px;
    margin-bottom: 0;
    font-family: 'Roboto Mono', monospace;
}

footer{
    background-color: var(--footer_header_color);
    text-align: center; 
    height: 60px; 
    width: 100%; 
    bottom: 0;
    font-family: var(--main-font-family);
    color: rgb(160, 159, 159);
}

.footer{
    position: fixed;
    padding-top: 50px;
}
