:root{
    --footer_header_color: hsl(210, 17%, 98%);
    --backup: hsl(210, 17%, 98%);
}

body{
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 400;
    --timeslot-base: 4rem;
    --timeslot-space: 0.5rem;
}

footer{
    background-color: var(--footer_header_color);
    padding: 10px 0;
    text-align: center;
    height: 60px; 
    width: 100%; 
    bottom: 0;
    position: fixed;

    font-family: var(--main-font-family);
    color: hsl(0, 0%, 62%);
}

.footer{
    padding: 50px;
}

.dropdown-item{
    font-family: var(--main-font-family);
}

#header-actions-dropdown{
    background-color: black;
    color: white;
    width: 180px;
    font-family: 'Roboto Flex', monospace !important;
}

.page-container{
    padding-top: 150px;

}
.header-logo{
    font-weight: 700;
}

.discipline-title{
    font-weight: 500;
    color:hsl(0, 0%, 62%);
}

.discipline-name{
    font-weight: 500;
}

.topbar_button{
	display: flex !important;
	align-content: center !important;
	align-items: center !important;
	padding-left: 20px;
	padding-right: 20px;
}

.timeslot, .timeslot-card, .dashboard-card, .timeslot-1, .timeslot-2, .timeslot-3, .timeslot-4, .timeslot-5, .timeslot-6{
    justify-content: center !important;
    align-items: center !important;
	text-align: center;
}

.timeslot-1{
    height: calc(calc(1 * var(--timeslot-base))) !important;
}

.timeslot-2{
    height: calc(calc(2 * var(--timeslot-base)) + calc(1 * var(--timeslot-space))) !important;
}

.timeslot-3{
    height: calc(calc(3 * var(--timeslot-base)) + calc(2 * var(--timeslot-space))) !important;
}

.timeslot-4{
    height: calc(calc(4 * var(--timeslot-base)) + calc(3 * var(--timeslot-space))) !important;
}

.timeslot-5{
    height: calc(calc(5 * var(--timeslot-base)) + calc(4 * var(--timeslot-space))) !important;
}

.timeslot-6{
    height: calc(calc(6 * var(--timeslot-base)) + calc(5 * var(--timeslot-space))) !important;
}

.timeslot-horary{
    font-weight: 400;
    color:hsl(0, 0%, 62%);
    margin: 0 !important;
}

.timeslot{
    width: 100%;
    text-align: center;
    display: flex;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.timeslot-title{
    font-weight: 300;
    color:hsl(0, 0%, 100%);
}

.dashboard-card{
	display: flex;
    border-radius: 1rem !important;
    height: 100%;
	box-shadow:  5px 10px 10px rgba(71, 71, 74, 0.184);
}

.dashboard-card:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);

    font-weight: bold;
}

.timeslot-card{
    display: flex;
    border-radius: 0.5rem;
    height: 100%;
}

.card-rightspace{
    margin-right: 0.30rem;
}

.timeslot-card-1{
    width: calc(100% / 1) !important;
}

.timeslot-card-2{
    width: calc(calc(100% / 2) - 0.15rem) !important;
}

.timeslot-card-3{
    width: calc(calc(100% / 2) - 0.10rem) !important;
}

.green{
    background-color: #12E58D !important;
	color: #ffffff !important;
}


.aqua{
    background-color: #2EDDD3 !important;
	color: #ffffff !important;
}


.blue{
    background-color: #62A1FF !important;
	color: #ffffff !important;
}

.darkblue{
    background-color: #5F73A5 !important;
	color: #ffffff !important;
}

.dark{
    background-color: hsl(0, 0%, 5%) !important;
	color: #ffffff !important;
}

.text-green{
    color: #12E58D !important;
}

.text-aqua{
    color: #2EDDD3 !important;
}

.text-blue{
    color: #62A1FF !important;
}

.text-darkblue{
    color: #5F73A5 !important;
}

.text-dark{
    color: hsl(0, 0%, 5%) !important;
}

.icon-sm, .icon-md, .icon-lg{
	font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.icon-sm{
	font-size: 2rem;
}

.icon-md{
	font-size: 3rem;
}

.icon-lg{
	font-size: 4rem;
}