:root{
    --footer_header_color: #f8f9fa;
    --backup: #f8f9fa;
    --main-font-family: 'Roboto Flex', monospace;
    --secondary-font-family: 'Roboto Mono', monospace;
}


.header-logo{
    font-family: var(--secondary-font-family);
}

.page-container{
    padding-top: 150px;

}

.main-page-title{
    font-family: var(--main-font-family);
    padding-bottom: 10px;
    font-weight: bold;
}

.periodos_title{
    font-family: var(--main-font-family);
    padding: 10px;
}

.periodos-containers{
    padding: 15px;
}

footer{
    background-color: var(--footer_header_color);
    text-align: center; 
    height: 60px; 
    width: 100%; 
    bottom: 0;
    font-family: var(--main-font-family);
    color: rgb(160, 159, 159);
}

.footer{
    padding-top: 50px;
}

.dropdown-item{
    font-family: var(--main-font-family);
}

#header-actions-dropdown{
    background-color: black;
    color: white;
    width: 180px;
    font-family: var(--main-font-family);
}

#carousel-control{
    background-color: #cfcfcf;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;    
}

.card{
    font-family: var(--main-font-family);
    border-radius: 20px !important;    
    box-shadow:  5px 10px 10px rgba(71, 71, 74, 0.184);
    min-height: 100px;
    max-height: 130px;
}

.card-body:hover h5{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);

    font-weight: bold;
}

#blue-card{
    background-color: #62A1FF;
    color: white;
}

#green-card{
    color: white;
    background-color: #12E58D;
}

#aqua-card{
    background-color: #2EDDD3;
    color: white;
}

#dark-card{
    background-color: #5F73A5;
    color: white;
}