:root{
    --footer_header_color: hsl(210, 17%, 98%);
    --backup: hsl(210, 17%, 98%);
}

body{
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 400;
    --timeslot-base: 4rem;
    --timeslot-space: 0.5rem;
}

footer{
    background-color: var(--footer_header_color);
    padding: 10px 0;
    text-align: center;
    position: fixed; 
    height: 60px; 
    width: 100%; 
    bottom: 0;

    font-family: var(--main-font-family);
    color: hsl(0, 0%, 62%);
}

.dropdown-item{
    font-family: var(--main-font-family);
}

#header-actions-dropdown{
    background-color: black;
    color: hsl(0, 0%, 100%);
    padding: 0 50px;
    height: 30px;    
    font-family: var(--main-font-family);
}

.header-logo{
    font-weight: 700;
}

.discipline-title{
    font-weight: 500;
    color:hsl(0, 0%, 62%);
}

.discipline-name{
    font-weight: 500;
}

.timeslot, .timeslot-card, .timeslot-1, .timeslot-2, .timeslot-3, .timeslot-4, .timeslot-5, .timeslot-6{
    justify-content: center !important;
    align-items: center !important;
}

.timeslot-1{
    height: calc(calc(1 * var(--timeslot-base)));
}

.timeslot-2{
    height: calc(calc(2 * var(--timeslot-base)) + calc(1 * var(--timeslot-space)));
}

.timeslot-3{
    height: calc(calc(3 * var(--timeslot-base)) + calc(2 * var(--timeslot-space)));
}

.timeslot-4{
    height: calc(calc(4 * var(--timeslot-base)) + calc(3 * var(--timeslot-space)));
}

.timeslot-5{
    height: calc(calc(5 * var(--timeslot-base)) + calc(4 * var(--timeslot-space)));
}

.timeslot-6{
    height: calc(calc(6 * var(--timeslot-base)) + calc(5 * var(--timeslot-space)));
}

.timeslot-horary{
    font-weight: 400;
    color:hsl(0, 0%, 62%);
    margin: 0 !important;
}

.timeslot{
    width: 100%;
    text-align: center;
    display: flex;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.timeslot-title{
    font-weight: 300;
    color:hsl(0, 0%, 100%);
}

.timeslot-card{
    display: flex;
    border-radius: 0.5rem;
    height: 100%;
}

.card-rightspace{
    margin-right: 0.30rem;
}

.timeslot-card-1{
    width: calc(100% / 1) !important;
}

.timeslot-card-2{
    width: calc(calc(100% / 2) - 0.15rem) !important;
}

.timeslot-card-3{
    width: calc(calc(100% / 2) - 0.10rem) !important;
}

.green{
    background-color: #12E58D;
}


.aqua{
    background-color: #2EDDD3;
}


.blue{
    background-color: #62A1FF;
}

.dark{
    background-color: hsl(0, 0%, 5%);
}

.icon{

}

.icon-sm{

}

.icon-md{

}

.icon-lg{

}