:root{
    --footer_header_color: #f8f9fa;
    --backup: #f8f9fa;
    --main-font-family: 'Roboto Flex', monospace;
    --secondary-font-family: 'Roboto Mono', monospace;
}

footer{
    background-color: var(--footer_header_color);
    text-align: center; 
    height: 60px; 
    width: 100%; 
    bottom: 0;
    font-family: var(--main-font-family);
    color: rgb(160, 159, 159);
}


.footer{
    position: fixed;
    padding: 50px;
}

.dropdown-item{
    font-family: var(--main-font-family);
}

.page-container{
    padding-top: 150px;

}

#header-actions-dropdown{
    background-color: black;
    color: white;
    width: 180px;
    font-family: var(--main-font-family);
}

.header-logo{
    font-family: var(--secondary-font-family);
}

.styleAc{
    background-color: black !important;
    border-radius: 15px !important;
}

.fontesLink{
    color: white !important;
    text-decoration: none !important;
}